<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="DynamoVisualProgramming.Core" version="2.0.1.5055" targetFramework="net452" />
  <package id="DynamoVisualProgramming.DynamoCoreNodes" version="2.0.1.5055" targetFramework="net452" />
  <package id="DynamoVisualProgramming.DynamoServices" version="2.0.1.5055" targetFramework="net452" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.0.1.5055" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net452" />
  <package id="Prism" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net452" />
  <package id="Prism.Mvvm" version="1.0.0" targetFramework="net452" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="net452" />
  <package id="RestSharp" version="106.3.1" targetFramework="net452" />
</packages>